<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DAM-TD3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>37C647EB1E2CF1E800CA390B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37C648011E2CF1E900CA390B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37C6480C1E2CF1E900CA390B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
